.slider-header {
    font-size: 72px;
}

.slider-paragraph {
    font-size: 18px;
}

.carousel-item img {
    height: 500px;
    width: 100%;
}

.course-section {
    margin-top: 100px;
}

.company-info {
    background-color: rgb(245, 252, 255)
}